/common/cpw
/common/net
/common/org
/common/fml_at.cfg
/common/fml_marker.cfg
/common/fmlversion.properties
/common/forge_at.cfg
/common/mcpmod.info
/minecraft/cpw
/minecraft/ibxm
/minecraft/net
/minecraft/paulscode
/minecraft/forge_logo.png
/minecraft/mcp.png
/minecraft/Start.java
